---
layout: structure
---

<div class="container">
	<ul class="nav breadcrumbs">
	  {% if page.category == 'editor' %}<li><a href="/v2/editor">Editors Guide</a></li>{% endif %}
	  {% if page.category == 'admin' %}<li><a href="/v2/admin">Admin Guide</a></li>{% endif %}
	  <li>/</li>
		{% if page.topic != null %}
	  <li><a href="/v2/{{ page.category }}/{{ page.topic }}.html">{{ page.topic | capitalize }}</a></li>
	  <li>/</li>
		{% endif %}
	  <li>{{ page.title }}</li>
	</ul>


	<h1>{{ page.title }}</h1>

	{{ content }}
</div>
