---
layout: structure
---

{% assign v = page.tags | last %}
{% include category-jumbo.html %}

<div class="container">
	<ol class="nav breadcrumbs">
		<li><a href="/">DIVA Help Center</a></li>
	  {% if page.category == 'editor' %}
			<li><a href="/{{v}}/editor">Editors Guide</a></li>
		{% endif %}
	  {% if page.category == 'admin' %}
			<li><a href="/{{v}}/admin">Admin Guide</a></li>
		{% endif %}
		{% if page.topic != null %}
			<li><a href="/{{v}}/{{page.category}}#{{page.topic}}">{{ page.topic | capitalize }}</a></li>
		{% endif %}
	</ol>

  {{ content }}
</div>
