---
layout: structure
---

{% if page.category == 'admin' %}{% include admin-jumbo.html %}{% endif %}
{% if page.category == 'editor' %}{% include editor-jumbo.html %}{% endif %}

<div class="container">
	<ol class="nav breadcrumbs">
		<li><a href="/">DIVA Help Center</a></li>
	  {% if page.category == 'editor' %}
			<li><a href="/v2/editor">Editors Guide</a></li>
		{% endif %}
	  {% if page.category == 'admin' %}
			<li><a href="/v2/admin">Admin Guide</a></li>
		{% endif %}
		{% if page.topic != null %}
			<li><a href="/v2/{{page.category}}#{{page.topic}}">{{ page.topic | capitalize }}</a></li>
		{% endif %}
	</ol>

  {{ content }}
</div>
