---
layout: article-container
---

<div class="row">
	<div class="col-md-8">
		<article class="article">
			<h1 class="article__title">{{ page.title }}</h1>

			<div class="article__body">
				{{ content }}
			</div>
		</article>
	</div>
	<div class="col-md-4">
		<div class="category-list" id="categoryList" data-spy="affix" data-offset-top="210">
			<ul>
				{% for t in page.topics %}
			    <li class="category-list__item">
			      <a href="#{{t[0]}}" class="category-list__link">{{t[1]}}</a>
			    </li>
				{% endfor %}
		  </ul>
		</div>
	</div>
</div>
