<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{{ page.bodyClass}} {{ page.category }} {{ page.topic }}" data-spy="scroll" data-target="#categoryList" data-offset="80">
    {% include navbar.html %}

    <main role="main">
      {{ content }}

      {% include contact-c2a.html %}
    </main>

    {% include footer.html %}

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/velocity/velocity.js"></script>

    <script src="/scripts/affix.js"></script>
    <script src="/scripts/category-list.js"></script>
    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/scrollspy.js"></script>
    <script src="/scripts/subnav.js"></script>
    <script src="/scripts/platform-switcher.js"></script>
    <script src="/scripts/scrollto.js"></script>
    <script src="/scripts/search.js"></script>

    {% for script in page.scripts %}
    <script src="{{script}}"></script>
    {% endfor %}

  </body>
</html>
