<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{{ page.bodyClass}} {{ page.category }} {{ page.topic }}" data-spy="scroll" data-target="#categoryList" data-offset="80">
    {% include navbar.html %}

    {% if page.category == 'admin'%}{% include subnav-admin.html %}{% endif %}

    {{ content }}

    {% include footer.html %}

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/velocity/velocity.js"></script>

    <script src="/scripts/affix.js"></script>
    <script src="/scripts/category-list.js"></script>
    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/scrollspy.js"></script>
    <script src="/scripts/subnav.js"></script>
    <script src="/scripts/faults.js"></script>
    <script src="/scripts/list-images.js"></script>
    <script src="/scripts/notes.js"></script>
    <script src="/scripts/platform-switcher.js"></script>
    <script src="/scripts/scrollto.js"></script>
    <script src="/scripts/search.js"></script>

  </body>
</html>
