---
layout: structure
---

<div class="container">
  <ul class="nav breadcrumbs">
    {% if page.category == 'editor' %}<li><a href="/v2/editor">Editors Guide</a></li>{% endif %}
    {% if page.category == 'admin' %}<li><a href="/v2/admin">Admin Guide</a></li>{% endif %}
    <li>/</li>
    <li>{{ page.title }}</li>
  </ul>


  <h1>{{ page.title }}</h1>

  YASSSS

  {% assign sortedPages = site.pages | sort: 'sortOrder' %}

  <ul>
    {% for p in sortedPages %}
      {% if p.category == page.category and p.topic == page.topic and p.hide != true %}
        <li><a href="{{ p.url }}">{{ p.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  {{ content }}
</div>
