//
// Grid System
// =============================================================================



// Containers
// -----------------------------------------------------------------------------

.container {
  position: relative;

  max-width: 960px;
  padding-left: $padding-base;
  padding-right: $padding-base;

  @media only screen and (min-width: $screen-md-min) {
    margin-left: auto;
    margin-right: auto;
  }
}
