//
// Scaffolding
// =============================================================================



// Box sizing reset
// -----------------------------------------------------------------------------

* {
  box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}



// Body reset
// -----------------------------------------------------------------------------

html {
  font-size: 10px;
}

body {
  position: relative;

  color: $text-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;

  background-color: $bg-color;

  @media only screen and (min-width: $screen-md-min) {
    padding-top: $navbar-height-md;
  }
}

img {
  max-width: 100%;
}

p {
  margin-top: 0;
}



// Links
// -----------------------------------------------------------------------------

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: darken($link-color, 10%);

    transition: color .15s;
  }
}
