//
// Scaffolding
// =============================================================================



// Box sizing reset
// -----------------------------------------------------------------------------

* {
  box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}



// Body reset
// -----------------------------------------------------------------------------
body {
	position: relative;
}
