//
// Typograhpy
// =============================================================================



// Headers
// -----------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: $font-weight-normal;
  line-height: 1.4;

  a {
    color: $grey;
  }
}

h3, .h3,
h4, .h4 {
  font-weight: $font-weight-semi-bold;
}



// Horizontal rule
// -----------------------------------------------------------------------------

hr {
  margin-top: $padding-large;
  margin-bottom: $padding-large;

  border: 0;
  border-top: 1px solid $border-color;
}



// Alignment
// -----------------------------------------------------------------------------

.text-center {
  text-align: center;
}



// Modifiers
// -----------------------------------------------------------------------------

.text-muted {
  color: $grey-lighter;
}
