//
// Typograhpy
// =============================================================================



// Headers
// -----------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: $font-weight-normal;

  a {
    color: $grey;
  }
}



// Alignment
// -----------------------------------------------------------------------------

.text-center {
  text-align: center;
}
