//
// Typograhpy
// =============================================================================



// Headers
// -----------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: $font-weight-normal;

  a {
    color: $grey;
  }
}



// Horizontal rule
// -----------------------------------------------------------------------------

hr {
  margin-top: $padding-large;
  margin-bottom: $padding-large;

  border: 0;
  border-top: 1px solid $border-color;
}


// Alignment
// -----------------------------------------------------------------------------

.text-center {
  text-align: center;
}
