//
// Variables
// =============================================================================


// Colours
// -----------------------------------------------------------------------------

// Palettes
//

// Greyscale
$black:                         #000;
$grey-darkest:                  #222;
$grey-darker:                   #333;
$grey-dark:                     #444;
$grey:                          #555;
$grey-light:                    #777;
$grey-lighter:                  #aaa;
$grey-lightest:                 #eee;
$white:                         #fff;

// Red
$red-50:												#FFEBEE;
$red-500:												#F44336;

// Light blue
$light-blue-50:									#E1F5FE;
$light-blue-500:								#03A9F4;

// Green
$green-50:											#E8F5E9;
$green-500:											#4CAF50;

// Orange
$orange-50:											#FFF3E0;
$orange-500:										#FF9800;


// Brand
//

$brand-primary:                 #08c;
$brand-light:                   #97e4fe;
$brand-dark:                    #0073b2;

// Scaffolding
//

$bg-color:                      $white;
$border-color:                  transparentize($grey-lighter, .5);
$link-color:                    $brand-primary;
$text-color:                    $grey;


// Typography
// -----------------------------------------------------------------------------

// Font families
//
$font-family-sans-serif:        'Open Sans', sans-serif;
$font-family-monospace:         Menlo, Monaco, Consolas, 'Courier New', monospace;

$font-family-base:              $font-family-sans-serif;

$font-size-smaller:             1.2rem;
$font-size-small:               1.4rem;
$font-size-base:                1.6rem;

$font-weight-light:             300;
$font-weight-normal:            400;
$font-weight-semi-bold:         600;
$font-weight-bold:              700;
$font-weight-extra-bold:        800;

$line-height-base:             	1.6;



// Box Model
// -----------------------------------------------------------------------------

$padding-smaller:               .4rem;
$padding-small:                 .8rem;
$padding-base:                  1.6rem;
$padding-large:                 2.4rem;

$border-radius:                 .3rem;

$z-index-navbar:								1000;



// Responsive breakpoints
// -----------------------------------------------------------------------------

$screen-sm-min:                 480px;
$screen-md-min:                 680px;
$screen-lg-min:									900px;

$screen-xs-max:									($screen-sm-min - 1);
$screen-sm-max:									($screen-md-min - 1);
$screen-md-max:									($screen-lg-min - 1);



// Grid system
// -----------------------------------------------------------------------------

$grid-columns:									12;
$grid-gutter-width: 						$padding-base;
