//
// Layouts - Category Index
// =============================================================================

.category-list {
	.category {
		h2 {
			padding-bottom: $padding-small;

			font-size: 1.8rem;
			font-weight: $font-weight-light;
			text-transform: uppercase;

			border-bottom: 1px solid $border-color;
		}

		h4 {
			font-size: 2rem;
			margin-bottom: 0;
		}

		+ .category {
			margin-top: ($padding-base * 2);
		}

		@media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
			.col-md-6:nth-child(2n+1) {
				clear: left;
			}
		}

		@media only screen and (min-width: $screen-lg-min) {
			.col-lg-4:nth-child(3n+1) {
				clear: left;
			}
		}
	}
}
