//
// Layouts - Home
// ============================================================================

.home__popular {
  margin-top: $spacer;
  margin-bottom: 0;

  @media only screen and (min-width: $screen-sm-min) {
    font-size: 1.6rem !important;
  }

  @media only screen and (min-width: $screen-md-min) {
    margin-top: $spacer * 1.5;
  }

  a {
    color: $white;
    text-decoration: underline;
  }

  strong {
    font-weight: $font-weight-semi-bold;
  }
}

.home__search {
  .form__control {
    padding: $spacer;

    width: 100%;
  }
}
