//
// Layouts - Home
// ============================================================================

.home__search {
  .form__control {
    width: 100%;
    padding: ($spacer / 2) $spacer;
  }
}

.home__popular {
  a {
    color: $white;
    text-decoration: underline;
  }
}
