---
title: Favourites
desc: "Favourites provide you with easy access to the drives you use most often"
section: user
sortOrder: 2
version: "2.0"
topics:
 - using: "Using a Favourite to Mount a Set of Drives"
---

<h2 id="using">Using a Favourite to Mount a Set of Drives</h2>
