//
// Components - Banner
// =============================================================================

#banner {
	position: relative;

	padding: $padding-small $padding-base;

	color: $white;

	background-color: $brand-primary;

	@media only screen and (min-width: $screen-md-min) {
		padding: $padding-base;
	}

	a {
		color: $white;
	}

	h1 {
		@include make-container();

		margin: 0;
		padding-left: 4rem;

		background-image: url(/images/diva-32.png);
		background-repeat: no-repeat;
		background-position: left center;

		@media only screen and (min-width: $screen-md-min) {
			padding-left: 6rem;

			background-image: url(/images/diva-48.png);
		}
	}

	.nav-toggle {
		position: absolute;
		right: $padding-base;
		top: 1.4rem;

		@media only screen and (min-width: $screen-md-min) {
			display: none;
		}
	}
}
