//
// Components - Breadcrumbs
// =============================================================================

.breadcrumbs {
  display: inline-block;
  margin-top: $spacer * 1.5;

  color: $grey-lighter;

  list-style: none;

  li {
    display: inline-block;

    a {
      display: inline-block;

      color: $brand-primary;
    }
  }

  li + li {
    &:before {
      padding: 0 .2rem;

      content: ">";
      color: $grey-lighter;
    }
  }
}
