//
// Components - Button Groups
// =============================================================================

.btn-group {
	position: relative;
	
	display: inline-block;

	vertical-align: middle;
}
