//
// Components - Category Page
// ============================================================================

.category-page {
  .container {
    padding-top: 5.8rem + $spacer;

    @media only screen and (min-width: $screen-md-min) {
      padding-top: $spacer * 3;
    }
  }
}

.category-content {
  @media only screen and (min-width: $screen-md-min) {
    display: table-cell;
  }
}
