//
// Components - Content
// =============================================================================

.content-wrapper {
	margin-top: $padding-base;
	margin-bottom: $padding-base;
	padding: $padding-base;

	background-color: $white;

	h2 {
	}

	@media only screen and (min-width: $screen-md-min) {

		h2 {
			position: relative;

			&:before {
				position: absolute;
				left: -($padding-base);

				content: "#";
				color: $brand-light;
			}
		}
	}
}
