//
// Contact Call to Action
// ============================================================================

.contact-c2a {
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 2;
  
  border-top: 1px solid $border-color;
}
