//
// Components - Content
// =============================================================================

.content-wrapper {
	margin-top: $padding-base;
	margin-bottom: $padding-base;
	padding: $padding-base;

	background-color: $white;

	h2 {
		position: relative;

		&:before {
			margin-right: ($padding-small / 2);

			content: "#";
			color: $brand-primary;
		}
	}
}
