//
// Components - Faults
// =============================================================================



// Fault
// -----------------------------------------------------------------------------

.fault {
  + .fault {
    border-top: 1px solid $border-color;
  }
}



// Fault title
// -----------------------------------------------------------------------------

.fault__title {
  cursor: pointer;
}



// Fault body
// -----------------------------------------------------------------------------

.fault__body {
  display: none;

  p:first-child {
    margin-top: 0;
  }
}
