//
// Components - Figures
// =============================================================================



// Figure
// -----------------------------------------------------------------------------

figure {
	margin: $padding-base;

	text-align: center;
}



// Caption
// -----------------------------------------------------------------------------

figcaption {
	font-size: $font-size-small;
	font-style: italic;
}


// Alignment
// -----------------------------------------------------------------------------

.figure--right {
	@media only screen and (min-width: $screen-md-min) {
		float: right;
		margin: 0 0 $padding-base $padding-base;
	}
}
