//
// Footer
// =============================================================================

.footer {
  margin-top: ($padding-base * 2);
  padding-top: ($padding-base * 2);
  padding-bottom: ($padding-base * 2);

  color: $grey-lighter;
  font-size: 1.4rem;
  text-align: center;

  background-color: $grey-lightest;

  a {
    color: $grey-lighter;

    &:hover {
      color: $grey-light;
    }
  }

  p {
    span {
      display: block;

      @media only screen and (min-width: $screen-md-min) {
        display: inline;
      }
    }
  }

  .fa-circle {
    position: relative;
    top: -.4rem;

    padding-left: $padding-small;
    padding-right: $padding-small;

    font-size: .6rem;
  }
}



// Social Links
// -----------------------------------------------------------------------------

.nav.footer__social-links {
  margin-top: $padding-large;
  margin-bottom: $padding-large;

  font-size: 3.6rem;

  li {
    padding-left: $padding-small;
    padding-right: $padding-small;
  }
}
