//
// Components - Jumbotron
// ============================================================================

.jumbotron {
	@include g6-grad();

	padding-top: ($padding-base * 3);
	padding-bottom: ($padding-base * 3);

	color: $white;
	font-weight: $font-weight-light;
	text-align: center;

	h1 {
		clear: both;

		margin-top: 0;

		line-height: 1.2;

		@media only screen and (min-width: $screen-md-min) {
			font-size: 4.2rem;
		}

		@media only screen and (min-width: $screen-lg-min) {
			font-size: 5.6rem;
		}
	}

	p {
		@media only screen and (min-width: $screen-sm-min) {
			font-size: 2rem;
		}

		@media only screen and (min-width: $screen-lg-min) {
			font-size: 2.4rem;
		}
	}

	.btn--default {
		color: transparentize($white, .3);

		border-color: transparentize($white, .5);

		&:hover {
			color: $white;

			background-color: transparentize($white, .8);
			border-color: $white;
		}
	}
}

body.with-jumbo .navbar + .jumbotron {
	$multiplier: 11;

	margin-top: -66px;
	padding-top: $spacer * 8;
	padding-bottom: $spacer * 5;
}
