//
// Components - Lists
// =============================================================================



// Jump Lists
// -----------------------------------------------------------------------------

#jump_down,
.jump_away,
.jump_down,
.jump_up {
	margin-top: $padding-small;
	margin-bottom: $padding-small;
	padding-left: $padding-base;

	list-style: none;

	li:before {
		position: relative;
		left: -($padding-small);

		color: $grey-400;
		font: normal normal normal 14px/1 FontAwesome;
	}
}

.jump_away li:before {
	content: "\f0a9";
}

#jump_down,
.jump_down {
	li:before {
		content: "\f0ab";
	}
}

.jump_up li:before {
	content: "\f077";
}



// Instruction Steps
// -----------------------------------------------------------------------------

.step {
	> li {
		margin-bottom: $padding-small;
		
		> ul {
			@extend .note;

			padding-left: 0;

			list-style: none;
		}
	}
}




// Definition Lists
// -----------------------------------------------------------------------------

dt {
	margin-bottom: $padding-small;

	font-size: $font-size-large;
	font-weight: $font-weight-bold;
	border-bottom: 1px solid $border-color;
}

dd {
	margin-left: 0;
}
