//
// Components - Lists
// =============================================================================

#jump_down,
.jump_away,
.jump_down,
.jump_up {
	padding-left: $padding-base;
	list-style: none;

	li:before {
		position: relative;
		left: -($padding-small);

		color: $grey-400;
		font: normal normal normal 14px/1 FontAwesome;
	}
}

.jump_away li:before {
	content: "\f0a9";
}

#jump_down,
.jump_down {
	li:before {
		content: "\f0ab";
	}
}

.jump_up li:before {
	content: "\f077";
}


.step {
	> li {
		> ul {
			padding-left: 0;

			color: $grey-300;
			font-size: $font-size-small;
			font-style: italic;

			list-style: none;
		}
	}
}
