//
// Components - Navbar
// =============================================================================

.navbar {
  z-index: $z-index-navbar;

  padding-top: $spacer;
  padding-bottom: $spacer;

  color: $white;

  @media only screen and (min-width: $screen-sm-min) {
    min-height: ($padding-base * 6.5);
  }

  @media only screen and (min-width: $screen-md-min) {
    min-height: ($padding-base * 5);
  }
}

body:not(.with-jumbo) .navbar {
  @include g6-grad();
}

// Affixed
//

.navbar.affix {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: $brand-primary;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}


// Brand
// -----------------------------------------------------------------------------

.navbar__brand {
  float: left;

  margin: 0;
  padding-top: .3rem;

  font-weight: $font-weight-light;
  line-height: 1;

  @media only screen and (min-width: $screen-sm-min) {
    float: left;
    margin-top: $padding-base;
  }

  @media only screen and (min-width: $screen-md-min) {
    margin-top: 0;
  }

  a {
    color: $white;
  }
}



// Logo
// -----------------------------------------------------------------------------

.navbar__logo {
  position: relative;
  top: -2px;

  width: ($padding-base * 2.5);

  vertical-align: middle;
}



// Menu
// -----------------------------------------------------------------------------

.navbar__menu {
  float: right;
}



// Buttons
// -----------------------------------------------------------------------------

.navbar__button {
  background: transparent;
  border: 0 none;

  &:active,
  &:focus {
    background: transparent;
    outline: 0;
  }
}

.navbar__toggler,
.navbar__button--search,
.navbar__content__close {
  font-size: $font-size-base * 1.5;
  line-height: 1.4;
}


// Search
// -----------------------------------------------------------------------------

.navbar__button--search {
  display: none;
}

.affix .navbar__button--search {
  display: inline-block;
}




// Content
// -----------------------------------------------------------------------------

.navbar__content {
  display: none;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2000;

  padding: $spacer;

  background-color: $brand-primary;

  @media only screen and (min-width: $screen-sm-min) {
    float: right;
  }
}

.navbar__content.is-open {
  display: block;
}

.navbar__content.is-closed {
  display: none;
}



// Content Close
// -----------------------------------------------------------------------------

.navbar__content__close {
  float: right;

  background: transparent;
  border: 0 none;

  &:active,
  &:focus {
    outline: 0;
  }
}


// Nav
// -----------------------------------------------------------------------------

.navbar__nav {
  clear: both;

  margin-top: $spacer * 5;

  font-size: $font-size-base * 2;
  font-weight: $font-weight-light;
  line-height: 1;

  @media only screen and (min-width: $screen-sm-min) {
  }

  @media only screen and (min-width: $screen-md-min) {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    padding-left: $padding-small;
    padding-right: $padding-small;

    @media only screen and (min-width: $screen-md-min) {
      padding-top: $padding-small + $padding-smaller;
      padding-bottom: $padding-small + $padding-smaller;
    }

    color: $white;

    &:hover {
      color: $white;
    }
  }
}

.navbar__nav .nav__item {
  display: block;

  + .nav__item {
    margin-top: $spacer * 1.5;
  }
}



// Items
// -----------------------------------------------------------------------------

body.admin .navbar__admin,
body.support .navbar__support,
body.editor .navbar__editor {
  color: $white;
  font-weight: $font-weight-normal;
}



// Form
// -----------------------------------------------------------------------------

.navbar__search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: none;
  padding: $spacer ($spacer * 3);

  background-color: $brand-primary;

  @media only screen and (min-width: $screen-sm-min) {
    margin-top: 0;

    text-align: right;
  }

  @media only screen and (min-width: $screen-md-min) {
    float: right;
    margin-top: $padding-small;
  }

  .fa {
    font-size: $font-size-base * 1.5;
    line-height: 1;
  }

  .fa-search {
    position: absolute;
    top: $spacer * 1.4;
    left: $spacer;
  }

  .form__control {
    @include placeholder-color(transparentize($white, .5));

    width: 100%;
    padding: 0;

    color: $white;
    font-size: $font-size-base * 1.5;

    background-color: transparent;
    border: 0 none;

    @media only screen and (min-width: $screen-md-min) {
      width: ($padding-base * 6);
    }
  }
}

.affix .navbar__search.is-open {
  display: block;
}

.navbar__search__close {
  position: absolute;
  right: $spacer;
  top: $spacer * 1.4;

  background: transparent;
  border: 0 none;

  &:active,
  &:focus {
    outline: 0;
  }
}
