//
// Components - Navbar
// =============================================================================

.navbar {
  z-index: $z-index-navbar;

  padding-top: $spacer;

  color: $white;

  @media only screen and (min-width: $screen-sm-min) {
    min-height: ($padding-base * 6.5);
  }

  @media only screen and (min-width: $screen-md-min) {
    min-height: ($padding-base * 5);
  }
}

body:not(.with-jumbo) .navbar {
  @include g6-grad();
}


// Brand
// -----------------------------------------------------------------------------

.navbar__brand {
  float: left;

  margin: 0;

  font-weight: $font-weight-light;

  @media only screen and (min-width: $screen-sm-min) {
    float: left;
    margin-top: $padding-base;
  }

  @media only screen and (min-width: $screen-md-min) {
    margin-top: 0;
  }

  a {
    color: $white;
  }
}



// Logo
// -----------------------------------------------------------------------------

.navbar__logo {
  width: ($padding-base * 3);

  vertical-align: middle;
}



// Menu
// -----------------------------------------------------------------------------

.navbar__menu {
  float: right;
}



// Toggler
// -----------------------------------------------------------------------------

.navbar__toggler {
  font-size: $font-size-base * 1.5;

  background: transparent;
  border: 0 none;

  &:active,
  &:focus {
    outline: 0;
  }
}




// Content
// -----------------------------------------------------------------------------

.navbar__content {
  display: none;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2000;

  padding: $spacer;

  background-color: $brand-primary;

  @media only screen and (min-width: $screen-sm-min) {
    float: right;
  }
}

.navbar__content.is-open {
  display: block;
}

.navbar__content.is-closed {
  display: none;
}



// Content Close
// -----------------------------------------------------------------------------

.navbar__content__close {
  float: right;

  font-size: $font-size-base * 1.5;

  background: transparent;
  border: 0 none;

  &:active,
  &:focus {
    outline: 0;
  }
}


// Nav
// -----------------------------------------------------------------------------

.navbar__nav {
  clear: both;

  margin-top: $spacer * 5;

  font-size: $font-size-base * 2;
  font-weight: $font-weight-light;
  line-height: 1;

  @media only screen and (min-width: $screen-sm-min) {
  }

  @media only screen and (min-width: $screen-md-min) {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    padding-left: $padding-small;
    padding-right: $padding-small;

    @media only screen and (min-width: $screen-md-min) {
      padding-top: $padding-small + $padding-smaller;
      padding-bottom: $padding-small + $padding-smaller;
    }

    //color: transparentize($white, .2);
    color: $white;

    &:hover {
      color: $white;
    }
  }
}

.navbar__nav .nav__item {
  display: block;

  + .nav__item {
    margin-top: $spacer * 1.5;
  }
}



// Items
// -----------------------------------------------------------------------------

body.admin .navbar__admin,
body.support .navbar__support,
body.editor .navbar__editor {
  color: $white;
  font-weight: $font-weight-normal;
}



// Form
// -----------------------------------------------------------------------------

.navbar__form {
  display: none;

  margin-top: $padding-base;

  @media only screen and (min-width: $screen-sm-min) {
    margin-top: 0;

    text-align: right;
  }

  @media only screen and (min-width: $screen-md-min) {
    float: right;
    margin-top: $padding-small;
  }

  .form__group {
    display: inline-block;
  }

  .form__control {
    @include placeholder-color(transparentize($white, .5));

    display: inline-block;
    width: ($padding-base * 9);

    color: $white;

    background-color: transparent;
    border-color: transparentize($white, .7);

    vertical-align: middle;

    &:focus {
      border-color: transparentize($white, .5);
    }

    @media only screen and (min-width: $screen-md-min) {
      width: ($padding-base * 6);
    }
  }
}
