//
// Components - Off-Canvas Naviation
// =============================================================================


// Variables
// -----------------------------------------------------------------------------

$sidenav-width-xs:	70%;
$sidenav-width-sm:	50%;



// Default, all breakpoints
// -----------------------------------------------------------------------------

.offcanvas-sidenav-left,
.offcanvas-sidenav-right,
.offcanvas-content {
	padding-left: ($grid-gutter-width / 2);
	padding-right: ($grid-gutter-width / 2);
}

.offcanvas-content {
	padding-top: $padding-base;
	padding-bottom: $padding-base;
}


// Extra small, and small
// -----------------------------------------------------------------------------

@media only screen and (max-width: $screen-sm-max) {
	.offcanvas-wrap {
		overflow-x: hidden;
	}

	.offcanvas-inner {
		@include transition-offcanvas();

		position: relative;
		left: 0;
	}

	.offcanvas-sidenav-left {
		position: absolute;
		top: 0;
		bottom: 0;
		left: -($sidenav-width-xs);

		width: $sidenav-width-xs;
	}

	// Active
	.offcanvas-wrap.active .offcanvas-inner {
		left: $sidenav-width-xs;
	}
}



// Small
// -----------------------------------------------------------------------------

@media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.offcanvas-sidenav-left {
		left: -($sidenav-width-sm);
		width: $sidenav-width-sm;
	}

	.offcanvas-content {
		width: $container-sm;
		margin-left: auto;
		margin-right: auto;
	}

	// Active
	.offcanvas-wrap.active .offcanvas-inner {
		left: $sidenav-width-sm;
	}
}



// Medium
// -----------------------------------------------------------------------------

@media only screen and (min-width: $screen-md-min) {
	.offcanvas-wrap {
		@include container-fixed;
		width: $container-md;
	}

	.offcanvas-inner {
		@include make-row();
	}

	.offcanvas-sidenav-left {
		@include make-column(2);
	}

	.offcanvas-content {
		@include make-column(10);
	}
}



// Large
// -----------------------------------------------------------------------------

@media only screen and (min-width: $screen-lg-min) {
	.offcanvas-wrap {
		width: $container-lg;
	}

	.offcanvas-sidenav-left {
		@include make-column(2);
	}

	.offcanvas-content {
		@include make-column(10);
	}
}
