//
// Components - Platform switcher
// =============================================================================

.platform-switcher {
  margin-bottom: $padding-base;

  li {
    + li {
      border-left: 1px solid $border-color;
    }
  }

  a {
    padding-left: $padding-small;
    padding-right: $padding-small;

    color: $grey-lighter;
    text-align: center;

    &:hover {
      color: $brand-primary;
    }
  }
}



// Switcher icons
// -----------------------------------------------------------------------------

body.platform-mac .platform-switcher a[data-platform="mac"],
body.platform-tux .platform-switcher a[data-platform="tux"],
body.platform-win .platform-switcher a[data-platform="win"] {
  color: $brand-primary;
}



// Content blocks
// -----------------------------------------------------------------------------

body .platform-mac,
body .platform-tux,
body .platform-win {
  display: none;
}

body.platform-mac .platform-mac,
body.platform-tux .platform-tux,
body.platform-win .platform-win {
  display: block;
}
