//
// Components - Sidenav
// =============================================================================

.sidenav {
	@media only screen and (max-width: $screen-sm-max) {
		height: 100%;

		color: #fff;

		background-color: $brand-primary;

		a {
			color: #fff;
		}
	}
}
