//
// Components - Sidenav
// =============================================================================

// Default, all breakpoints
// -----------------------------------------------------------------------------

.sidenav {
	h3 {
		padding-bottom: $padding-small;

		font-size: $font-size-small;
		font-weight: $font-weight-light;
		text-transform: uppercase;

		border-bottom: 1px solid $border-color;
	}

	.nav {
		margin-bottom: $padding-large;
	}

	.active {
		position: relative;

		font-weight: $font-weight-bold;

		&:before {
			position: absolute;
			left: -1.2rem;

			content: "#";
			color: $brand-primary;
		}
	}
}



// Extra small, and small
// -----------------------------------------------------------------------------

@media only screen and (max-width: $screen-sm-max) {
	.sidenav {
		color: $white;

		background-color: $brand-primary;
	}
}
