//
// Components - Subnav
// =============================================================================



// Subnav
// -----------------------------------------------------------------------------

.subnav {
  padding-bottom: $padding-base;

  border-bottom: 1px solid $border-color;
}



// Subnav nav
// -----------------------------------------------------------------------------

.subnav .nav {

  li {
    display: block;
  }
}



// Items
// -----------------------------------------------------------------------------

// Admin
//

body.admin.drives .subnav__admin-drives,
body.admin.favourites .subnav__admin-favourites,
body.admin.media .subnav__admin-media,
body.admin.nodes .subnav__admin-nodes,
body.admin.projects .subnav__admin-projects,
body.admin.setup .subnav__admin-setup,
body.admin.system .subnav__admin-system,
body.admin.users .subnav__admin-users {
  font-weight: bold;
}

// Users
//

body.user.drives .subnav__user-drives,
body.user.favourites .subnav__user-favourites,
body.user.misc .subnav__user-misc
body.user.projects .subnav__user-projects,
body.user.setup .subnav__user-setup {
  font-weight: bold;
}
