//
// Tips
// ============================================================================

.tip {
  position: relative;

  padding: $spacer $spacer*1.5 $spacer $spacer*4;
  margin-top: $spacer;
  margin-bottom: $spacer;

  color: $light-blue-500;

  background-color: transparentize($light-blue-500, .9);
  border-radius: $border-radius;
  border: 1px solid transparentize($light-blue-500, .7);

  &:before {
    position: absolute;
    top: 1.4rem;
    left: 2rem;

    content: "\f0d0";

    font: normal normal normal 28px/1 FontAwesome;
  }
}

.tip--result {
  color: $green-500;

  background-color: transparentize($green-500, .9);
  border-color: transparentize($green-500, .7);

  &:before {
    content: "\f00c";
  }
}

.tip--warning {
  color: $orange-500;

  background-color: transparentize($orange-500, .9);
  border-color: transparentize($orange-500, .7);

  &:before {
    content: "\f071";
  }
}
