//
// Components - Table of Contents
// =============================================================================

.toc {
	&.affix {
		position: static;
	}

	@media only screen and (min-width: $screen-lg-min) {
		&.affix {
			position: fixed;
			top: 10px;
			right: auto;
		}
	}

	h3 {
		margin-top: 0;
	}
}
