<header class="navbar" id="top">
	<div class="container">
		<a href="/" class="brand">
			<img src="/images/diva-flat-32.png" alt="DIVA"/> DIVA
		</a>

		<nav class="navbar-nav">
			<ul class="nav">
				<li><a href="/">Home</a></li>
				<li><a href="/support.html">Support</a></li>
			</ul>

			<div class="navbar-search">
				<i class="fa fa-search"></i>
				<input type="text" class="form-control st-default-search-input" />
			</div>

			{{> versionpicker this }}

			{{#if version }}
				<button type="button" class="sidenav-toggle btn btn-inverse" data-toggle="offcanvas">
					<i class="fa fa-bars"></i>
				</button>
			{{/if}}
		</nav>
	</div>
</header>
