<div id="toc" class="toc" data-spy="affix" data-offset-top="130">
	<h3>On this page</h3>
	<ul class="nav nav-pills nav-stacked">
		{{#each topics}}
			{{#each this}}
			<li><a href="#{{@key}}">{{this}}</a></li>
			{{/each}}
		{{/each}}
	</ul>
</div>
