<div id="toc" class="toc" data-spy="affix" data-offset-top="250">
	<h4>On this page</h4>

	<ul class="nav">
		{{#each topics}}
			{{#each this}}
			<li><a href="#{{@key}}">{{this}}</a></li>
			{{/each}}
		{{/each}}
		<li class="top"><a href="#top">Back to top</a></li>
	</ul>
</div>
