<div class="btn-group pull-right">
	<a href="#" class="btn btn-primary dropdown-toggle navbar-btn" data-toggle="dropdown" aria-expanded="false">
		{{#if version }}
			{{version}}
		{{else}}
		Version
		{{/if}}
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="/docs/3.0/index.html">3.0</a></li>
		<li><a href="/docs/2.0/index.html">2.0</a></li>
	</ul>
</div>
