---
title: Documentation
layout: structure.hbs
---

<div class="jumbotron">
  <div class="container">
    <h1>DIVA</h1>
    <p>Help documentation for users and administrators.</p>
    <a href="/docs/2.0/index.html" class="btn">Read the docs</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2><a href="/docs/2.0/user/index.html">Users Guide</a></h2>
      <p>Everything an editor needs to know to get going with DIVA.</p>
    </div>
    <div class="col-md-4">
      <h2><a href="/docs/2.0/admin/index.html">Administrators Guide</a></h2>
      <p>How to manage your system and keep it running smoothly.</p>
    </div>
    <div class="col-md-4">
      <h2><a href="/support.html">Support</a></h2>
      <p>Can't find the answer you're after? Contact Group 6 support.</p>
    </div>
  </div>
</div>
