---
title: Documentation
layout: structure.hbs
---

<div class="jumbotron">
  <div class="container">
    <h1>DIVA</h1>
    <p>Help documentation for users and administrators.</p>
    <a href="/docs/3.0/index.html" class="btn">Read the docs</a>
  </div>
</div>
