
  body {
	font-family: Helvetica, Calibri, Arial, sans-serif;
    font-size: 9pt;
    font-weight: normal;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-left: 16px;
    margin-top: 2px;
    width: 100%;
    line-height: 1.5em;
    }

  a:link, a:visited, a:hover, a:active {
  	color: rgb(0, 0, 0);
    text-decoration: none;
    }

  #pagetitle { margin-bottom: 2em;
    }

  #banner, #navlevel1, #navlevel2, #navlevel3, #navlevel4 {
  	display: none;
    }

  #content { margin-top: 24pt;
    }

  h1 {
  	font-size: 165%;
    font-weight: bold;
    margin-top: 0pt;
    margin-bottom: 1pt;
    }

  h2 {
  	font-size: 165%;
    font-weight: normal;
    font-style: normal;
    margin-top: 15pt;
    margin-bottom: 9pt;
    }

  h3 {
  	font-size: 135%;
    font-weight: normal;
    font-style: normal;
    margin-top: 18pt;
    margin-bottom: 9pt;
    }

  h4 {
  	font-size: 95%;
    font-weight: bold;
    font-style: normal;
    margin-top: 12pt;
    margin-bottom: 0pt;
    }

  p {
  	font-style: normal;
    margin-top: 6pt;
    margin-bottom: 0pt;
    }

  ul {
  	font-weight: normal;
    font-style: normal;
    margin-top: 0pt;
    margin-bottom: 0pt;
    text-indent: 0pt;
    text-align: left;
    list-style-type: disc;
    }

  ol {
  	margin-top: 0pt;
    margin-bottom: 0pt;
    text-indent: 0pt;
    text-align: left;
    }

  em {
  	font-style: italic;
    }

  strong {
  	font-weight: bold;
    }

  hr {
  	border-top: 2px dashed rgb(170, 170, 170);
    margin-top: 1em;
    }

  #jump_down {
  	list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
    }

  #jump_down li {
  	margin-top: 2px;
    }

  #pdfbullet, .jump_up, .jump_away, .powericon {
  	display: none;
    }

  #pdfbullet li {
  	background: transparent url(pdfico.gif) no-repeat scroll 0pt 50%;
    -moz-background-clip: initial;
    -moz-background-origin: initial;
    -moz-background-inline-policy: initial;
    padding-left: 24px;
    margin-left: -24px;
    margin-top: 6px;
    color: rgb(102, 102, 102);
    }




/*images*/
p.imageright {
	float: right;
	font-size: 0.8em;
	text-align: center;
	padding: 1.25em 0em 0.25em 0.25em;
	font-weight: normal;
	font-style: italic;
}

p.imageright img {
	display: block;
	/*height: auto;
	width: 80%;
	border: 1px solid #ADAAAD; */
}

p.imageleft {
	float: left;
	font-size: 0.8em;
	text-align: center;
	padding: 1.25em 0em 0.25em 0.25em;
	font-weight: normal;
	font-style: italic;
}

p.imageleft img {
	display: block;
	height: auto;
	width: 75%;
	/*border: 1px solid #ADAAAD; */
}
p.imagecentre {
    font-size: 0.8em;
	text-align: center;
	padding: 1.25em 0em 0.25em 0.25em;
	font-weight: normal;
	font-style: italic;
}

p.imagecentre img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	/*height: auto;
	width: 75%;
	border: 1px solid #ADAAAD; */
}


/*text box float right*/

.textboxright {
	float: right;
	margin-top: 10pt;
	margin-bottom: 10pt;
	margin-left: 15pt;
	font-size: 0.8em;
	text-align: left;
	color:#333333;
	padding: 0 1.25em 1.25em 1.25em;
	font-weight: normal;
	width: 35%;
	background: #eee;
	border: 1px solid #ADAAAD;
}

.textboxright .note {
	color:#333333;
}

.textboxright ul  {
	margin-top : 0pt;
	margin-bottom : 0pt;
	text-indent : 0pt;
	text-align : left;
}

.textboxright li  {
	margin-top : 0pt;
	margin-bottom : 0pt;
	text-indent : 0pt;
	text-align : left;
}

.textboxright dt {
	font-weight: bold;
	margin-left: 0pt;
	margin-bottom: 4pt;
	border-top: 0;
	border-bottom: solid #CCCCCC 1px;
	background-color: #EEEEEE;
	padding-left: 7px;
}
.textboxright dd {
	margin-left: 20pt;
	margin-bottom: 10pt;
}


  .table_data { border-top: 1px solid rgb(153, 153, 153);
    border-left: 1px solid rgb(153, 153, 153);
    border-collapse: collapse;
    }

  .table_data caption { font-size: 120%;
    color: rgb(51, 51, 51);
    padding-bottom: 6px;
    padding-top: 6px;
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
    }

  .table_data th, td { border-right: 1px solid rgb(153, 153, 153);
    border-bottom: 1px solid rgb(153, 153, 153);
    padding: 10px;
    }

  .table_data th { font-size: 120%;
    color: rgb(51, 51, 51);
    vertical-align: text-top;
    text-align: left;
    }

  .table_data td { font-size: 95%;
    font-weight: normal;
    font-style: normal;
    margin-top: 0pt;
    margin-bottom: 0pt;
    vertical-align: text-top;
    }

  .table_data ul { margin-top: 3px;
    margin-bottom: 0pt;
    text-indent: 0pt;
    text-align: left;
    list-style-type: disc;
    margin-left: 20px;
    list-style-position: outside;
    padding-left: 5px;
    padding-bottom: 10px;
    }

  .table_data ol { margin-top: 0pt;
    margin-bottom: 0pt;
    text-indent: 0pt;
    text-align: left;
    margin-left: 20px;
    padding-left: 5px;
    list-style-position: outside;
    list-style-type: decimal;
    }

  .step { margin-top: 3pt;
    font-weight: bold;
    }

  .step ol { list-style-type: decimal;
    font-weight: normal;
    }

  .step li { margin-top: 4pt;
    font-weight: normal;
    }

  .step li ul { color: rgb(102, 102, 102);
    font-weight: normal;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
    }

  .step li ul li { font-style: italic;
    margin-top: 0pt;
    margin-bottom: 0pt;
    margin-left: -40px;
    }

  .step li ul li ul li { list-style-type: disc;
    list-style-image: none;
    list-style-position: outside;
    margin-top: 0pt;
    margin-bottom: 0pt;
    margin-left: 0pt;
    text-indent: 0pt;
    }

  .step li ul li ul li ul li { list-style-type: disc;
    margin-top: 0pt;
    margin-bottom: 0pt;
    margin-left: 0pt;
    text-indent: 0pt;
    background-color: rgb(0, 255, 255);
    }

/* Note Style */

  .note {
  	font-weight: normal;
    font-style: italic;
    color: rgb(102, 102, 102);
    }

  .note li { margin-top: 2px;
    margin-bottom: 3px;
    }

/* Alert Style */

.alert  {
	font-weight : normal;
	font-style : italic;
	color: #444444;
	margin: 10pt 0 0 0;
	padding: 1.25em 1.25em 1.25em 1.25em;
	background: #fff;
	border: 1px solid #B45A4F;
}

.alert li {
	margin-top: 2px;
	margin-bottom: 3px;
}


/* Definitions */

  dt {
  	border-top: 1px solid rgb(204, 204, 204);
    font-weight: bold;
    margin-left: 30pt;
    margin-bottom: 4pt;
    }

  dd {
  	margin-left: 70pt;
    margin-bottom: 10pt;
    }

  acronym {
  	speak: ;
    }

  abbr, acronym {
  	border-bottom: 1px dotted rgb(136, 136, 136);
    cursor: help;
    }

  acronym:after {
  	content: " (" attr(title) ")";
    }

  a:link kbd { border: medium none ;
    }

  kbd {
  	border: 1px solid rgb(153, 153, 153);
    font-family: Arial,Helvetica,sans-serif;
    font-size: 100%;
    }

  .jump_downscr kbd {
  	border-style: none none solid;
    border-color: -moz-use-text-color -moz-use-text-color rgb(102, 102, 102);
    border-width: medium medium 1px;
    }

  #jump_down kbd, .jump_up kbd, #jump_away kbd, .jump_downscr kbd, .pdfbullet kbd, .screenonly kbd, #cttable kbd {
  	border: medium none ;
    }

  .screenonly { display: none;
    }

  .newpage { page-break-before: always;
    }

  .highlight { background-color: rgb(102, 255, 102);
    }
