<div class="category-list" id="categoryList" data-spy="affix" data-offset-top="196">
  <a href="" class="category-list__open">
    <span class="fa-stack">
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      <i class="fa fa-plus fa-stack-1x"></i>
    </span>
  </a>

  <a href="" class="category-list__close">
    <span class="fa-stack">
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      <i class="fa fa-times fa-stack-1x"></i>
    </span>
  </a>

  <ul>
    <li class="category-list__item active">
      <a href="#common" class="category-list__link">Common Issues</a>
    </li>
    <li class="category-list__item">
      <a href="#fusion" class="category-list__link">Fusion</a>
    </li>
    <li class="category-list__item">
      <a href="#drives" class="category-list__link">Drives</a>
    </li>
    <li class="category-list__item">
      <a href="#volumes" class="category-list__link">Volumes</a>
    </li>
  </ul>
</div>
