<footer class="footer">
  <div class="container">
    <ul class="nav footer__social-links">
      <li><a href="https://www.facebook.com/group6technologies" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://www.flickr.com/photos/group6tech/" target="_blank"><i class="fa fa-flickr"></i></a></li>
      <li><a href="https://www.twitter.com/group6tech" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://www.github.com/group6tech" target="_blank"><i class="fa fa-github"></i></a></li>
    </ul>

    <p>
      <span>Copyright &copy; {{ site.time | date: '%Y' }}</span>
      <i class="fa fa-circle hidden-sm-down"></i>
      <span><a href="https://www.group6.co.nz" target="_blank">Group 6 Technologies Ltd.</a></span>
      <i class="fa fa-circle hidden-sm-down"></i>
      <span>All Rights Reserved.</span>
    </p>
    <p>Made with <i class="fa fa-heart"></i> in New Zealand</p>
  </div>
</footer>
