<head>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">

  <title>
    {{ page.title }}
    {% if page.category == 'editor' %} &dash; Editors Guide{% endif %}
    {% if page.category == 'admin' %} &dash; Admin Guide{% endif %}
    &dash; {{ site.name }}
  </title>

  <meta name="description" content="{{ site.description }}">

  <!-- build:css({app,.tmp}) /styles/main.css -->
  <link rel="stylesheet" href="/styles/main.css">
  <!-- endbuild -->

  {% include ga.html %}

</head>
