<nav class="navbar">
  <div class="container">
    <h1 class="navbar__brand">
      <a href="/">
        <img class="navbar__logo" src="/images/diva.svg" alt="DIVA"/>
        DIVA Help
      </a>
    </h1>

    <form class="navbar__form" role="search">
      <div class="form__group">
        <input type="text" class="form__control" placeholder="Search"/>
      </div>
      <button type="submit" class="btn btn--primary"><i class="fa fa-search"></i></button>
    </form>

    <ul class="nav navbar__nav">
      <li><a class="navbar__user" href="/v2/user">Users</a></li>
      <li><a class="navbar__admin" href="/v2/admin">Admins</a></li>
      <li><a class="navbar__support" href="/support.html">Support</a></li>
    </ul>
  </div>
</nav>
