<div class="category-list" id="categoryList" data-spy="affix" data-offset-top="268">
  <a href="" class="category-list__open">
    <span class="fa-stack">
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      <i class="fa fa-plus fa-stack-1x"></i>
    </span>
  </a>

  <a href="" class="category-list__close">
    <span class="fa-stack">
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      <i class="fa fa-times fa-stack-1x"></i>
    </span>
  </a>

  <ul>
    <li class="category-list__item active">
      <a href="#common" class="category-list__link">Common Issues</a>
    </li>
    <li class="category-list__item">
      <a href="#setup" class="category-list__link">Setup</a>
    </li>
    <li class="category-list__item">
      <a href="#drives" class="category-list__link">Drives</a>
    </li>
    <li class="category-list__item">
      <a href="#favourites" class="category-list__link">Favourites</a>
    </li>
    <li class="category-list__item">
      <a href="#projects" class="category-list__link">Projects</a>
    </li>
    <li class="category-list__item">
      <a href="#misc" class="category-list__link">Misc</a>
    </li>
  </ul>
</div>

<nav class="subnav">
  <div class="container">
    <h2 class="subnav__title"><a href="/v2/editor">Editors Guide</a></h2>

    <a href="#editorSubnav" class="subnav__toggle" data-toggle="collapse"><i class="fa fa-fw fa-chevron-down"></i></a>

    <ul class="nav subnav__nav" id="editorSubnav">
      <li><a class="subnav__editor-setup" href="/v2/editor/setup.html">Setup</a></li>
      <li><a class="subnav__editor-drives" href="/v2/editor/drives.html">Drives</a></li>
      <li><a class="subnav__editor-favourites" href="/v2/editor/favourites.html">Favourites</a></li>
      <li><a class="subnav__editor-projects" href="/v2/editor/projects.html">Projects</a></li>
      <li><a class="subnav__editor-misc" href="/v2/editor/misc.html">Misc</a></li>
    </ul>
  </div>
</nav>
