<nav class="subnav">
  <div class="container">
    <h2 class="subnav__title"><a href="/v2/user">Users Guide</a></h2>

    <a href="#userSubnav" class="subnav__toggle" data-toggle="collapse"><i class="fa fa-fw fa-chevron-down"></i></a>

    <ul class="nav subnav__nav" id="userSubnav">
      <li><a class="subnav__user-setup" href="/v2/user/setup.html">Setup</a></li>
      <li><a class="subnav__user-drives" href="/v2/user/drives.html">Drives</a></li>
      <li><a class="subnav__user-favourites" href="/v2/user/favourites.html">Favourites</a></li>
      <li><a class="subnav__user-projects" href="/v2/user/projects.html">Projects</a></li>
      <li><a class="subnav__user-misc" href="/v2/user/misc.html">Misc</a></li>
    </ul>
  </div>
</nav>
