---
layout: structure.hbs
---

<div class="body-wrap">
	<div class="container">
		<h1 class="page-header">v{{ page.version }} Documentation</h1>

		{{> body }}

		<div class="category-list">
			{{ indexsection pages page.version "about" "About DIVA" }}
			{{ indexsection pages page.version "user" "Users Guide" }}
			{{ indexsection pages page.version "admin" "Administrators Guide" }}
		</div>
	</div>
</div>
