<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>DIVA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- build:css(.) styles/vendor.css -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
  </head>
  <body data-spy="scroll" data-target="#toc">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {{> navbar }}

    {{> body }}

    {{> footer }}

    <!-- build:js(.) scripts/vendor.js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/js/dropdown.js"></script>
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="/scripts/releases.js"></script>
    <script src="/scripts/offcanvas.js"></script>
    <!-- endbuild -->
</body>
</html>
