---
title: Drives
sortOrder: 1
topics:
 - about: About Drives
 - adding: Adding a Drive to a Volume
 - access: Modifying Access to a Drive for One or More Users
 - set: Adding a Drive Set
 - quota: Setting a Drive Capacity Quota
 - delete: Deleting a Drive
 - health: Performing a Health Check
---

<h2 id="about">About Drives</h2>

<h2 id="adding">Adding a Drive to a Volume</h2>

<h2 id="access">Modifying Access to a Drive for One or More Users</h2>

<h2 id="set">Adding a Drive Set</h2>

<h2 id="quota">Setting a Drive Capacity Quota</h2>

<h2 id="delete">Deleting a Drive</h2>

<h2 id="health">Performing a Health Check</h2>
