---
title: Favourites
desc: "Create and manage set of drives and assign access"
section: admin
sortOrder: 6
version: "2.0"
topics:
 - about: About Favourites
 - edit: Displaying & Editing a Favourite
 - shared: Adding a Favourite for All DIVA Client Users
 - grouped: Adding a Favourite for One or More Groups of DIVA Client Users
 - delete: Deleting a Favourite
---

<h2 id="about">About Favourites</h2>

<h2 id="edit">Displaying &amp; Editing a Favourite</h2>

<h2 id="shared">Adding a Favourite for All DIVA Client Users</h2>

<h2 id="grouped">Adding a Favourite for One or More Groups of DIVA Client Users</h2>

<h2 id="delete">Deleting a Favourite</h2>
