---
title: Overview
sortOrder: 1
topics:
 - signing: Signing In & Out of DIVA Client
 - glossary: Glossary of Advanced Terms
---

<div class="lead">
	<p>DIVA Fusion is a browser-based administration application. To use DIVA Fusion, you must first be set up as an administrator. You can access DIVA Fusion using any browser on your network, either by using the host name or the DIVA Server IP address.</p>
</div>

<h2 id="signing">Signing In &amp; Out of DIVA Fusion</h2>

<h2 id="glossary">Glossary of Advanced Terms</h2>
