---
title: Media Management
desc: "How to manage Avid MXF media files"
section: admin
sortOrder: 7
version: "2.0"
topics:
 - movemany: Moving Multiple Users' Media to One User Account
 - moveone: Moving One User's Media to Another User's Account
---

<h2 id="movemany">Moving Multiple Users' Media to One User Account</h2>

<h2 id="moveone">Moving One User's Media to Another User's Account</h2>
